<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Inventory Management</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="main.css"/>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Inventory Management</a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">More Info</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="container">
        <div class="heading">
            <h1>
                Store Inventory Management
            </h1>
        </div>
        <div class="tabs">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button
                            class="nav-link active"
                            id="store-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#store-tab-pane"
                            type="button"
                            role="tab"
                            aria-controls="store-tab-pane"
                            aria-selected="true">
                    </button>
                    <a class="nav-link" href="#">Store Locations</a>
                </li>
                <li class="nav-item" role="presentation">
                    <button
                            class="nav-link"
                            id="product-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#product-tab-pane"
                            type="button"
                            role="tab"
                            aria-controls="product-tab-pane"
                            aria-selected="false">
                    </button>
                    <a class="nav-link" href="/store_inventory_management/product">Product</a>
                </li>
                <li class="nav-item" role="presentation">
                    <button
                            class="nav-link"
                            id="supply-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#supply-tab-pane"
                            type="button"
                            role="tab"
                            aria-controls="supply-tab-pane"
                            aria-selected="false">
                    </button>
                    <a class="nav-link" href="/store_inventory_management/supply">Inventory</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div
                        class="tab-pane fade show active"
                        id="store-tab-pane"
                        role="tabpanel"
                        aria-labelledby="store-tab"
                        tabindex="0"
                >
                    <div class="heading">
                        <!-- <h4>Current Inventory</h4> -->
                        <!-- <button
                          type="button"
                          onclick="clearCurrentInventory()"
                          class="btn btn-danger"
                        >
                          Clear Inventory
                        </button> -->
                    </div>
                    <div class="add-item">
                        <form class="form" action="#" th:action="@{/store_location}" th:object="${storeLocation}" method="POST">
                            <div class="mb-3">
                                <label class="form-label">
                                    Store Name:
                                    <input
                                            id="Store_Name"
                                            class="form-control"
                                            type="text"
                                            th:field="*{name}"
                                            required
                                    />
                                </label>
                                <label class="form-label">
                                    City:
                                    <input
                                            id="City"
                                            class="form-control"
                                            type="text"
                                            th:field="*{city}"
                                            required
                                    />
                                </label>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">
                                    Store Hours:
                                    <input
                                            id="Hours"
                                            class="form-control"
                                            type="text"
                                            th:field="*{hours}"
                                            required
                                    />
                                </label>
                                <label class="form-label">
                                    Contact:
                                    <input
                                            id="Contact"
                                            class="form-control"
                                            type="text"
                                            th:field="*{contact}"
                                            required
                                    />
                                </label>
                            </div>
                            <div class="mb-3">
                                <button
                                        class="btn btn-success"
                                        type="submit"
                                >
                                    Add
                                </button>
                                <button class="btn btn-danger" type="reset">Reset</button>
                            </div>
                        </form>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">City</th>
                            <th scope="col">Store Hours</th>
                            <th scope="col">Contact No</th>
                        </tr>
                        </thead>
                        <tbody id="current_store_list">
                        <tr th:if="${stores.empty}">
                            <td colspan="2"> No Stores Available</td>
                        </tr>
                        <tr th:each="store : ${stores}">
                            <td><span th:text="${store.id}"> # </span></td>
                            <td><span th:text="${store.name}"> Name </span></td>
                            <td><span th:text="${store.city}"> City </span></td>
                            <td><span th:text="${store.hours}"> Store Hours </span></td>
                            <td><span th:text="${store.contact}"> Contact No </span></td>
                        </tr>
                        </tbody>
                        <!--                        <tr>-->
                        <!--                            <th scope="row">1</th>-->
                        <!--                            <td>Name 1</td>-->
                        <!--                            <td>City 1</td>-->
                        <!--                            <td>Time 1</td>-->
                        <!--                            <td>000-000-0000</td>-->
                        <!--                        </tr>-->
                        <!--                        <tr>-->
                        <!--                            <th scope="row">2</th>-->
                        <!--                            <td>Name 2</td>-->
                        <!--                            <td>City 2</td>-->
                        <!--                            <td>Time 2</td>-->
                        <!--                            <td>000-000-0000</td>-->
                        <!--                        </tr>-->
                        <!--                        <tr>-->
                        <!--                            <th scope="row">3</th>-->
                        <!--                            <td>Name 3</td>-->
                        <!--                            <td>City 3</td>-->
                        <!--                            <td>Time 3</td>-->
                        <!--                            <td>000-000-0000</td>-->
                        <!--                        </tr>-->
                        </tbody>
                    </table>
                </div>
<!--                <div-->
<!--                        class="tab-pane fade"-->
<!--                        id="product-tab-pane"-->
<!--                        role="tabpanel"-->
<!--                        aria-labelledby="product-tab"-->
<!--                        tabindex="0"-->
<!--                >-->
<!--                    <div class="heading">-->
<!--                        &lt;!&ndash; <h4>Incoming Product</h4> &ndash;&gt;-->
<!--                        &lt;!&ndash; <button-->
<!--                          onclick="clearIncomingOrder()"-->
<!--                          type="button"-->
<!--                          class="btn btn-danger"-->
<!--                        >-->
<!--                          Clear Incoming-->
<!--                        </button> &ndash;&gt;-->
<!--                    </div>-->
<!--                    <div class="add-item">-->
<!--                        <form class="form">-->
<!--                            <div class="mb-3">-->
<!--                                <label class="form-label">-->
<!--                                    Product Name:-->
<!--                                    <input-->
<!--                                            id="incoming_order_product_name"-->
<!--                                            class="form-control"-->
<!--                                            type="text"-->
<!--                                            required-->
<!--                                    />-->
<!--                                </label>-->
<!--                                <label class="form-label">-->
<!--                                    Product Brand:-->
<!--                                    <input-->
<!--                                            id="incoming_order_product_brand"-->
<!--                                            class="form-control"-->
<!--                                            type="text"-->
<!--                                            required-->
<!--                                    />-->
<!--                                </label>-->
<!--                            </div>-->
<!--                            <div class="mb-3">-->
<!--                                <label class="form-label">-->
<!--                                    Quantity:-->
<!--                                    <input-->
<!--                                            id="incoming_order_product_quantity"-->
<!--                                            class="form-control"-->
<!--                                            type="number"-->
<!--                                            required-->
<!--                                    />-->
<!--                                </label>-->
<!--                                <label class="form-label">-->
<!--                                    Product Price:-->
<!--                                    <input-->
<!--                                            id="incoming_order_product_price"-->
<!--                                            class="form-control"-->
<!--                                            type="number"-->
<!--                                            required-->
<!--                                    />-->
<!--                                </label>-->
<!--                            </div>-->
<!--                            <div class="mb-3">-->
<!--                                <button-->
<!--                                        class="btn btn-success"-->
<!--                                        onclick="addProduct()"-->
<!--                                        type="button"-->
<!--                                >-->
<!--                                    Add-->
<!--                                </button>-->
<!--                                <button class="btn btn-danger" type="reset">Reset</button>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                    <table class="table">-->
<!--                        <thead>-->
<!--                        <tr>-->
<!--                            <th scope="col">#</th>-->
<!--                            <th scope="col">Name</th>-->
<!--                            <th scope="col">Brand</th>-->
<!--                            <th scope="col">Quantity</th>-->
<!--                            <th scope="col">Price</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody id="incoming_inventory_list">-->
<!--                        <tr>-->
<!--                            <th scope="row">1</th>-->
<!--                            <td>Name1</td>-->
<!--                            <td>Brand1</td>-->
<!--                            <td>Quantity1</td>-->
<!--                            <td>Price1</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th scope="row">2</th>-->
<!--                            <td>Name2</td>-->
<!--                            <td>Brand2</td>-->
<!--                            <td>Quantity2</td>-->
<!--                            <td>Price2</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th scope="row">3</th>-->
<!--                            <td>Name3</td>-->
<!--                            <td>Brand3</td>-->
<!--                            <td>Quantity2</td>-->
<!--                            <td>Price3</td>-->
<!--                        </tr>-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->
<!--                <div-->
<!--                        class="tab-pane fade"-->
<!--                        id="supply-tab-pane"-->
<!--                        role="tabpanel"-->
<!--                        aria-labelledby="supply-tab"-->
<!--                        tabindex="0"-->
<!--                >-->
<!--                    <div class="heading">-->
<!--                        &lt;!&ndash; <h4>Outgoing Orders</h4> &ndash;&gt;-->
<!--                        &lt;!&ndash; <button-->
<!--                          type="button"-->
<!--                          onclick="clearOutgoingOrder()"-->
<!--                          class="btn btn-danger"-->
<!--                        >-->
<!--                          Clear Outgoing &ndash;&gt;-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="add-item">-->
<!--                        <form class="form">-->
<!--                            <div class="mb-3">-->
<!--                                <label class="form-label">-->
<!--                                    Store Id:-->
<!--                                    <input-->
<!--                                            id="outgoing_order_product_name"-->
<!--                                            class="form-control"-->
<!--                                            type="text"-->
<!--                                            required-->
<!--                                    />-->
<!--                                </label>-->
<!--                                <label class="form-label">-->
<!--                                    Product Id:-->
<!--                                    <input-->
<!--                                            id="outgoing_order_product_brand"-->
<!--                                            class="form-control"-->
<!--                                            type="text"-->
<!--                                            required-->
<!--                                    />-->
<!--                                </label>-->
<!--                            </div>-->
<!--                            <div class="mb-3">-->
<!--                                <label class="form-label">-->
<!--                                    Total Inventory:-->
<!--                                    <input-->
<!--                                            id="outgoing_order_product_quantity"-->
<!--                                            class="form-control"-->
<!--                                            type="text"-->
<!--                                            required-->
<!--                                    />-->
<!--                                </label>-->
<!--                                <label class="form-label">-->
<!--                                    Available Inventory:-->
<!--                                    <input-->
<!--                                            id="outgoing_order_product_price"-->
<!--                                            class="form-control"-->
<!--                                            type="text"-->
<!--                                            required-->
<!--                                    />-->
<!--                                </label>-->
<!--                            </div>-->
<!--                            <div class="mb-3">-->
<!--                                <button-->
<!--                                        class="btn btn-success"-->
<!--                                        onclick="addinventory()"-->
<!--                                        type="button"-->
<!--                                >-->
<!--                                    Add-->
<!--                                </button>-->
<!--                                <button class="btn btn-danger" type="reset">Reset</button>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                    <table class="table">-->
<!--                        <thead>-->
<!--                        <tr>-->
<!--                            <th scope="col">#</th>-->
<!--                            <th scope="col">StoreId</th>-->
<!--                            <th scope="col">ProductId</th>-->
<!--                            <th scope="col">Total_Inventory</th>-->
<!--                            <th scope="col">Available_Inventory</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody id="outgoing_inventory_list">-->
<!--                        <tr>-->
<!--                            <th scope="row">1</th>-->
<!--                            <td>Available_Inventory_1</td>-->
<!--                            <td>ProductId</td>-->
<!--                            <td>Total_Inventory</td>-->
<!--                            <td>Available_Inventory</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th scope="row">2</th>-->
<!--                            <td>Available_Inventory_2</td>-->
<!--                            <td>ProductId</td>-->
<!--                            <td>Total_Inventory</td>-->
<!--                            <td>Available_Inventory</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th scope="row">3</th>-->
<!--                            <td>Available_Inventory_3</td>-->
<!--                            <td>ProductId</td>-->
<!--                            <td>Total_Inventory</td>-->
<!--                            <td>Available_Inventory</td>-->
<!--                        </tr>-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</main>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"
></script>
<script src="main.js"></script>
</body>
</html>