<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Inventory Management</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous"
    />
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
            rel="stylesheet"
    />
    <!-- <link rel="stylesheet" href="main.css" /> -->
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
<!--            <a class="navbar-brand" href="#">Inventory Management</a>-->
            <a class="navbar-brand" href="/store_inventory_management/home">
                <img th:src="@{images/Logo.png}" width="70" height="50" alt="">
            </a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navigation links here -->
        </div>
    </nav>
</header>

<main>
    <div class="container">
        <div class="heading text-center mt-4">
            <h1>Store Inventory Management</h1>
        </div>
        <div class="tabs mt-4">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="#">Store Locations</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/store_inventory_management/product">Product</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/store_inventory_management/supply"
                    >Inventory</a
                    >
                </li>
            </ul>
            <div class="tab-content mt-3" id="myTabContent">
                <div
                        class="tab-pane fade show active"
                        id="store-tab-pane"
                        role="tabpanel"
                        aria-labelledby="store-tab"
                        tabindex="0"
                >
                    <div class="add-item">
                        <form class="form" action="#" th:action="@{/store_location}" th:object="${storeLocation}"
                              method="POST">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label"> Store Name: </label>
                                    <input
                                            id="Store_Name"
                                            class="form-control"
                                            type="text"
                                            th:field="*{name}"
                                            required
                                    />
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label"> City: </label>
                                    <input
                                            id="City"
                                            class="form-control"
                                            type="text"
                                            th:field="*{city}"
                                            required
                                    />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label class="form-label"> Store Hours: </label>
                                    <input
                                            id="Hours"
                                            class="form-control"
                                            type="text"
                                            th:field="*{hours}"
                                            required
                                    />
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label"> Contact: </label>
                                    <input
                                            id="Contact"
                                            class="form-control"
                                            type="text"
                                            th:field="*{contact}"
                                            required
                                    />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <button class="btn btn-success" type="submit">Save</button>
                                    <button class="btn btn-danger" type="reset">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">City</th>
                            <th scope="col">Store Hours</th>
                            <th scope="col">Contact No</th>
                        </tr>
                        </thead>
                        <tbody id="current_store_list">
                        <tr th:if="${stores.empty}">
                            <td colspan="6" class="text-center"> No Stores Available</td>
                        </tr>
                        <tr th:each="store : ${stores}">
                            <td><span th:text="${store.id}"> # </span></td>
                            <td><span th:text="${store.name}"> Name </span></td>
                            <td><span th:text="${store.city}"> City </span></td>
                            <td><span th:text="${store.hours}"> Store Hours </span></td>
                            <td><span th:text="${store.contact}"> Contact No </span></td>
                            <td>
                                <a th:if="${store.id}" th:href="@{/store_location/update/{id}(id=${store.id})}"
                                   class="btn btn-primary">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a th:if="${store.id}" th:href="@{/store_location/delete/{id}(id=${store.id})}"
                                   class="text-danger ms-2">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>