<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" th:href="@{/css/login.css}">

</head>
<body>
<body>
<section class="container">
  <div class="login-container">
    <div class="circle circle-one"></div>
    <div class="form-container">
      <h1>LOGIN</h1>
      <form method="post" action="#" th:action="@{/login}">
        <input type="text" placeholder="USERNAME" id="username"  name="username" class="form-control" required="" autofocus="" />
        <input type="password" placeholder="PASSWORD" id="password" name="password" class="form-control" required="" />
        <button>SUBMIT</button>
      </form>
      <div>
<!--        <a th:href="@{/sign-up}">REGISTER</a>-->
        <p class="register">Not a member?  <a th:href="@{/sign-up}">Register here!</a></p>
      </div>
    </div>
    <div class="circle circle-two"></div>
  </div>
</section>
</body>

</body>
</html>
