<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Inventory Management</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="main.css"/>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Inventory Management</a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">More Info</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="container">
        <div class="heading">
            <h1>
                Store Inventory Management
            </h1>
        </div>
        <div class="tabs">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button
                            class="nav-link"
                            id="store-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#store-tab-pane"
                            type="button"
                            role="tab"
                            aria-controls="store-tab-pane"
                            aria-selected="false">
                    </button>
                    <a class="nav-link" href="/store_inventory_management/store_location">Store Locations</a>
                </li>
                <li class="nav-item" role="presentation">
                    <button
                            class="nav-link active"
                            id="product-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#product-tab-pane"
                            type="button"
                            role="tab"
                            aria-controls="product-tab-pane"
                            aria-selected="true">
                    </button>
                    <a class="nav-link" href="#">Product</a>
                </li>
                <li class="nav-item" role="presentation">
                    <button
                            class="nav-link"
                            id="supply-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#supply-tab-pane"
                            type="button"
                            role="tab"
                            aria-controls="supply-tab-pane"
                            aria-selected="false">
                    </button>
                    <a class="nav-link" href="/store_inventory_management/supply">Inventory</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div
                        class="tab-pane fade show active"
                        id="product-tab-pane"
                        role="tabpanel"
                        aria-labelledby="product-tab"
                        tabindex="0"
                >
                    <div class="heading">
                    </div>
                    <div class="add-item">
                        <form class="form" action="#" th:action="@{/product}" th:object="${product}" method="POST">
                            <div class="mb-3">
                                <label class="form-label">
                                    ID:
                                    <input
                                            id="incoming_product_id"
                                            class="form-control"
                                            type="text"
                                            th:field="*{id}"
                                            required
                                    />
                                </label>
                                <label class="form-label">
                                    Product Brand:
                                    <input
                                            id="incoming_product_brand"
                                            class="form-control"
                                            type="text"
                                            th:field="*{brand}"
                                            required
                                    />
                                </label>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">
                                    Product Name:
                                    <input
                                            id="incoming_product_name"
                                            class="form-control"
                                            type="text"
                                            th:field="*{name}"
                                            required
                                    />
                                </label>
                                <label class="form-label">
                                    Product Price:
                                    <input
                                            id="incoming_product_price"
                                            class="form-control"
                                            type="text"
                                            th:field="*{price}"
                                            required
                                    />
                                </label>
                                <label class="form-label">
                                    Product Color:
                                    <input
                                            id="incoming_product_color"
                                            class="form-control"
                                            type="text"
                                            th:field="*{color}"
                                            required
                                    />
                                </label>
                            </div>
                            <div class="mb-3">
                                <button
                                        class="btn btn-success"
                                        type="submit"
                                >
                                    Add
                                </button>
                                <button class="btn btn-danger" type="reset">Reset</button>
                            </div>
                        </form>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Brand</th>
                            <th scope="col">Color</th>
                            <th scope="col">Price</th>
                        </tr>
                        </thead>
                        <tbody id="current_product_list">
                        <tr th:if="${products.empty}">
                            <td colspan="2"> No Products Available</td>
                        </tr>
                        <tr th:each="product : ${products}">
                            <td><span th:text="${product.id}"> # </span></td>
                            <td><span th:text="${product.name}"> Name </span></td>
                            <td><span th:text="${product.brand}"> Brand </span></td>
                            <td><span th:text="${product.color}"> Color </span></td>
                            <td><span th:text="${product.price}"> Price </span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"
></script>
<script src="main.js"></script>
</body>
</html>