<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory Management</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous"
    />
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
            rel="stylesheet"
    />
    <!-- <link rel="stylesheet" href="main.css" /> -->
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
<!--            <a class="navbar-brand" href="#">Inventory Management</a>-->
            <a class="navbar-brand" href="/store_inventory_management/home">
                <img th:src="@{images/Logo.png}" width="90" height="50" alt="">
            </a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navigation links here -->
        </div>
        <a class="navbar-brand" href="/store_inventory_management/report_issue">
            <img th:src="@{images/report_issue.png}" width="50" height="40" alt="">
        </a>
        <!--        <a class="nav nav-pills mr-3 nav-link p-3" href="/store_inventory_management/logout" >Logout</a>-->
        <a class="navbar-brand" href="/store_inventory_management/logout">
            <img th:src="@{images/logout.jpeg}" width="50" height="50" alt="">
        </a>
    </nav>
</header>

<main>
    <div class="container">
        <div class="heading text-center mt-4">
            <h1>Store Inventory Management</h1>
        </div>
        <div class="tabs mt-4">
            <ul class="nav nav-pills" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a
                            class="nav-link"
                            href="/store_inventory_management/store_location"
                    >Store Locations</a
                    >
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/store_inventory_management/product">Product</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" href="/store_inventory_management/supply"
                    >Inventory</a
                    >
                </li>
            </ul>
            <div class="tab-content mt-3" id="myTabContent">
                <div
                        class="tab-pane fade show active"
                        id="supply-tab-pane"
                        role="tabpanel"
                        aria-labelledby="supply-tab"
                        tabindex="0"
                >
                    <div class="add-item">
                        <form class="form" action="#" th:action="@{/supply}" th:object="${supply}" method="POST">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                <label class="form-label">
                                    Store ID: </label>
                                    <input
                                            id="store_id"
                                            class="form-control"
                                            type="text"
                                            th:field="*{storeId}"
                                            required
                                    />
                                </div>
                                <div class="col-md-4">
                                <label class="form-label">
                                    Product ID: </label>
                                    <input
                                            id="product_id"
                                            class="form-control"
                                            type="text"
                                            th:field="*{productId}"
                                            required
                                    />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                <label class="form-label">
                                    Total Inventory: </label>
                                    <input
                                            id="total_inventory"
                                            class="form-control"
                                            type="text"
                                            th:field="*{totalInventory}"
                                            required
                                    />
                                </div>
                                <div class="col-md-4">
                                <label class="form-label">
                                    Available Inventory: </label>
                                    <input
                                            id="available_inventory"
                                            class="form-control"
                                            type="text"
                                            th:field="*{availableInventory}"
                                            required
                                    />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <button class="btn btn-success" type="submit">Save</button>
                                    <button class="btn btn-danger" type="reset">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th scope="col">StoreId</th>
                            <th scope="col">ProductId</th>
                            <th scope="col">Total_Inventory</th>
                            <th scope="col">Available_Inventory</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody id="current_supply_list">
                        <tr th:if="${supplies.empty}">
                            <td colspan="6"> No Products Available</td>
                        </tr>
                        <tr th:each="supply : ${supplies}">
                            <td><span th:text="${supply.storeId}"> Store ID </span></td>
                            <td><span th:text="${supply.productId}"> Product ID </span></td>
                            <td><span th:text="${supply.totalInventory}"> Total Inventory </span></td>
                            <td><span th:text="${supply.availableInventory}"> Available Inventory </span></td>
                            <td>
                                <a th:href="${'/store_inventory_management/supply/update/' + {supply.storeId} + '/' + {supply.productId}}" class="btn btn-primary">
                                    <i class="fas fa-edit"></i>
                                </a>
<!--                                <a th:if="${product.id}" th:href="@{/product/delete/{id}(id=${product.id})}" class="text-danger ms-2">-->
<!--                                    <i class="fas fa-trash"></i>-->
<!--                                </a>-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
